<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>
      {% block title %}
        Base title
      {% endblock %}
    </title>

    {% block head %}

    {% endblock %}

  </head>
  <body>
    <!-- Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/static/images/compass.svg" alt="Navbar" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% for endpoint, label in [
            ('index_page', 'Home'),
            ('about_page', 'About'),
            ('products_list', 'Products'),
            ('products_add', 'Add Product'),
            ] %}

            {% set path = url_for(endpoint) %}

            <li class="nav-item">
              <a class="nav-link {{ 'active' if path == request.path else '' }}"
                 href="{{ path }}">
              {{ label }}
              </a>
            </li>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block body %}
        Base body
      {% endblock %}
    </div>

  </body>
</html>